/* Styling up media query for screens up to 600px in maximum width */ 

@media screen and (max-width: 600px){
    #frame{
        width: 400px;
    }
    
    #days{
        width: 340px;
    }
    
    #days span{
        padding: 3px 6px; 
        font-size: 13px;
    }
    
    #time-placehold{
        margin-left: -40px;
    }
   
    #actual-time{
        margin-left: -20px;
    }
}